# ============================================
# Banco de Dados - Vendas
# ============================================
POSTGRES_VENDAS_DB=vendas
POSTGRES_VENDAS_USER=vendas
POSTGRES_VENDAS_PASSWORD=change_me
POSTGRES_VENDAS_PORT=5432

# ============================================
# Banco de Dados - Estoque
# ============================================
POSTGRES_ESTOQUE_DB=estoque
POSTGRES_ESTOQUE_USER=estoque
POSTGRES_ESTOQUE_PASSWORD=change_me
POSTGRES_ESTOQUE_PORT=5433
