# ============================================
# Banco de Dados - Vendas
# ============================================
POSTGRES_VENDAS_DB=vendas
POSTGRES_VENDAS_USER=vendas
POSTGRES_VENDAS_PASSWORD=change_me
POSTGRES_VENDAS_PORT=5432

# ============================================
# Banco de Dados - Estoque
# ============================================
POSTGRES_ESTOQUE_DB=estoque
POSTGRES_ESTOQUE_USER=estoque
POSTGRES_ESTOQUE_PASSWORD=change_me
POSTGRES_ESTOQUE_PORT=5433

# ============================================
# Serviços (URLs compartilhadas)
# ============================================
EUREKA_URI=http://discovery:8761/eureka
ZIPKIN_BASE_URL=http://host.docker.internal:9411
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SCHEMA_REGISTRY_URL=http://schema-registry:8087

# ============================================
# Portas dos Serviços
# ============================================
ZOOKEEPER_PORT=2181
KAFKA_PORT=9092
KAFKA_HOST_PORT=29092
SCHEMA_REGISTRY_PORT=8087
KAFKA_UI_PORT=8089
DISCOVERY_PORT=8761
KEYCLOAK_PORT=8180
API_GATEWAY_PORT=8080
VENDAS_PORT=8081
ESTOQUE_PORT=8082
PAGAMENTO_PORT=8083
FRETE_PORT=8084
TRANSPORTADORA_PORT=8085
NOTIFICACAO_PORT=8086
